---
title: "Media"
layout: module.hbs
module: true
---

<!-- module:media -->
<div class="media{{#each modifiers}} media--{{this}}{{/each}}">
	{{#each items}}

		<article class="media__row">
			<div class="row">

				<div class="media__column media__column--image columns phablet-6 medium-5">
					<div class="inner">

						<header class="media__header user-markup show-for-small-only">

							<h3 class="media__title">{{{title}}}</h3>

							{{#if subtitle}}
								<h4 class="media__subtitle subheading">{{{subtitle}}}</h4>
							{{/if}}

							{{#if roles}}
								{{> roles roles}}
							{{/if}}

						</header>

						<div class="media__image">

							{{#if link}}
								<a href="{{link.url}}" title="{{link.title}}" target="_blank" class="media__image-link">
							{{/if}}

								<img src="{{img}}" alt="Image associated with {{{title}}}">

								<div class="media__image-overlay">
									{{svg "arrow-right"}}
								</div>

							{{#if link}}
								</a>
							{{/if}}

						</div>

					</div>
				</div>

				<div class="media__column media__column--content columns phablet-6 medium-7">
					<div class="inner">

						<div class="media__content">
							<div class="media__content-inner">

								<header class="media__header user-markup show-for-phablet" aria-hidden="true">

									<h3 class="media__title">{{{title}}}</h3>

									{{#if subtitle}}
										<h4 class="media__subtitle subheading">{{{subtitle}}}</h4>
									{{/if}}

									{{#if roles}}
										{{> roles roles}}
									{{/if}}

								</header>

								<div class="user-markup">

									{{#if desc}}
										<div class="media__desc">{{{desc}}}</div>
									{{/if}}

									<a class="cta" href="{{link.url}}" title="{{link.title}}" target="_blank">{{link.title}} {{svg "arrow-right"}}</a>

								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</article>

	{{/each}}
</div>
<!-- end module:media -->
