<!-- partial:callout -->
<article class="callout">

    {{#if img}}

        <div class="image" role="img" aria-label="Image of {{{title}}}" style="background-image: url('{{img}}');{{#if style}} {{style}}{{/if}}"></div>

    {{/if}}

    {{#if icon}}

        <div class="callout__icon">
            {{svg icon}}
        </div>

    {{/if}}

    <div class="callout__content">

        {{#if link}}
            <a class="callout__link" href="{{link.url}}">
        {{/if}}

        <div class="callout__content-inner">

            <div class="user-markup">

                {{#if title}}
                    <h3 class="callout__heading">{{{title}}}</h3>
                {{/if}}

                {{#if subtitle}}
                    <h4 class="callout__subheading subheading">{{{subtitle}}}</h4>
                {{/if}}

                {{#if desc}}
                    <p class="callout__desc">{{{desc}}}</p>
                {{/if}}

            </div>

        </div>

        {{#if link}}
            </a>
        {{/if}}

    </div>

</article>
<!-- end partial:callout -->
