<!-- partial:panel -->
<section id="js-panel--{{id}}" class="panel panel--{{id}}{{#each modifiers}} panel--{{this}}{{/each}}">
	<div class="row">
		<div class="panel__content columns small-12">
			<h2>I am panel {{id}}.</h2>
			<p>{{placeholderText medium}}</p>
		</div>
	</div>
</section>
<!-- end partial:panel -->
