<!-- partial:panel -->
<section id="js-panel--{{id}}" class="panel panel--{{id}}{{#each modifiers}} panel--{{this}}{{/each}}">
	<div class="panel__inner">

		<div class="panel__content">

			{{#if title}}
				<h2>{{{title}}}</h2>
			{{/if}}

			{{#if subtitle}}
				<h3>{{{subtitle}}}</h3>
			{{/if}}

			{{#stringCompare id "hello"}}

				{{> portrait }}

			{{/stringCompare}}

			{{#stringCompare id "about"}}

				<div class="user-markup">

					<p>I'm a front-end developer with strong background in graphic design and user experience. I currently work for <a href="http://barkleyrei.com/" title="BarkleyREI Website" target="_blank">BarkleyREI</a>, a full-service digital agency with clientele primarily in the tourism and higher education industries. My specialty is developing design compositions into beautiful, fully-functional, captivating web experiences. I'm particularly skilled with making ambitious visual concepts come to life with CSS.</p>

					<p>I'm known to be an avid problem solver with meticulous attention to detail, which shines through in all of the work I produce. My design and UX experience makes me stand out amoungst my peers and brings a refreshing and insightful perspective to my role as developer.</p>

					<div class="panel__see-more">

						<hr>

						<p>I grew up in a ski town in northern Vermont. In 2007, I moved to Pittsburgh, PA to attend <a href="https://www.cmu.edu/" title="Carnegie Mellon University Website" target="_blank">Carnegie Mellon University</a>, where I earned my B.F.A. in Communication Design and Human-Computer Interaction. After graduation, I began my career in user experience, but quickly discovered I had a knack for web development that I was also eager to explore. Since then, I've been learning and refining my development skillset, while utilizing my background in design and UX to make informed decisions as I code.</p>

						<p>I spend most of my free time cooking, being outdoors, and hanging out with <a href="https://www.instagram.com/ohheybutters/" title="@ohheybutters on Instagram" target="_blank">Butters</a>, my adorable golden retriever. I also enjoy skiing, singing, survivalism, volunteering, traveling, prog rock, good friends, and bad puns. {{svg "wink"}}</p>

					</div>

				</div>

			{{/stringCompare}}

			{{#stringCompare id "work"}}

				<div class="user-markup">

					<p>As a developer at an ever-changing, fast-paced agency, I'm usually working on multiple projects simultaneously. These are a few recent projects I've taken a prominent role in developing, each with a list of tasks I was responsible for.</p>

				</div>

				{{#parseFixture 'callouts.json'}}

					{{> _callouts work}}

				{{/parseFixture}}

			{{/stringCompare}}

			{{#stringCompare id "skills"}}

				{{#parseFixture 'callouts.json'}}

					{{> _callouts skills}}

				{{/parseFixture}}

			{{/stringCompare}}

			{{#stringCompare id "contact"}}

				<div class="user-markup">

					<p>Interested in working together? I'd love to hear from you!</p>

				</div>

			{{/stringCompare}}

		</div>

	</div>
</section>
<!-- end partial:panel -->
