<!-- partial:social -->
<nav class="social">
	<ul class="clearfix">
		<li>
			<a href="" title="View my resume" target="_blank">
				{{svg "file-text-solid"}}
				<span class="show-for-sr">View my resume</span>
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/sarahharissis" title="Connect with me on LinkedIn" target="_blank">
				{{svg "linkedin"}}
				<span class="show-for-sr">Connect with me on LinkedIn</span>
			</a>
		</li>
		<li>
			<a href="https://github.com/sharissis-brei" title="View my work Github account" target="_blank">
				{{svg "github"}}
				<span class="show-for-sr">View my work Github account</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/sarahharissis" title="Follow me on Twitter" target="_blank">
				{{svg "twitter"}}
				<span class="show-for-sr">Follow me on Twitter</span>
			</a>
		</li>
		<li>
			<a href="mailto:sarahharissis@gmail.com" title="Email me" target="_blank">
				{{svg "envelope-solid"}}
				<span class="show-for-sr">Email me</span>
			</a>
		</li>
	</ul>
</nav>
<!-- end partial:social -->
